:root {
  --clr: #003329;
  --low-white: #ffffff8d;
  --white: #ffffff;
  --black: #000;
}
::selection {
  background-color: var(--clr);
  color: var(--white);
  /* background-color: var(--white);
    color: var(--clr); */
}
::-webkit-scrollbar {
  width: 0.65em;
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: #009a7b;
  /* border: solid 0.25px var(--white); */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #004b3c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
header {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  z-index: 99;
  /* background-color: #003329; */
  /* padding: 20px; */
}
/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 30px;
  background-color: transparent;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 80px;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--clr);
  font-size: 20px;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
  position: relative;
}

.navbar ul li a:hover {
  background-color: var(--clr);
  color: var(--white);
}

.logo{
    cursor: pointer;
}
.logo img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
} */

.navigation {
  position: relative;
  background-color: var(--white);
  width: 400px;
  height: 70px;
  /* margin: 0 auto; */
  border-radius: 10px;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.navigation ul {
  display: flex;
  list-style: none;
  width: 350px;
  /* gap: 30px; */
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  color: var(--clr);
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navigation ul li a .icon {
  font-size: 1.5em;
  position: relative;
  line-height: 75px;
  display: block;
  text-align: center;
  color: var(--clr);
  transition: all 0.5s ease;
}
.navigation ul li.active a .icon,
.navigation ul li:hover a .icon {
  color: var(--white);
}
/* .navigation ul li:hover a .icon {
    transform: translateY(-35px);
  } */
.navigation ul li.active a .icon,
.navigation ul li:hover a .icon {
  transform: translateY(-35px);
}

.navigation ul li a .text {
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 75px;
  color: var(--clr);
  letter-spacing: 0.05em;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}
/* .navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(0px);
  } */

.navigation ul li.active a .text,
.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  /* background-color: var(--clr); */
  /* background-color: #49ab97;
  background-color: var(--white); */
  background: linear-gradient(to top, #003329e7, #ffffffc7);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: solid 5px var(--clr);
  /* transform: translateX(-50px); */
  transition: all 0.5s ease;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -13.6px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-top-right-radius: 15px;
  box-shadow: 1px -2.5px 0 1px var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13.6px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-top-left-radius: 15px;
  box-shadow: -1px -2.5px 0 1px var(--clr);
}

.navigation ul li:nth-child(1):hover ~ .indicator,
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2):hover ~ .indicator,
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

/* .navigation ul li:nth-child:hover ~ .indicator,
  /* .navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
  } */

.navigation ul li:nth-child(4):hover ~ .indicator,
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5):hover ~ .indicator,
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

.active-logo img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 5px var(--clr);
  transform: translateY(25px);
  transition: all 0.5s ease;
}

.active-logo::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -14.75px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-bottom-right-radius: 15px;
  box-shadow: 4.5px 4.5px 0 4.5px var(--clr);
}
.active-logo::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: -14.25px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-bottom-left-radius: 15px;
  box-shadow: -5px 5px 0 5px var(--clr);
  z-index: -1;
}

.active-logo:hover img {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(15px);
    filter: drop-shadow(0 0 10px var(--clr));
  }
  100% {
    transform: translateY(25px);
  }
}

.parallax {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  width: 100vw;
  height: 100vh;
  margin-top: -50px;
}

#title {
  position: absolute;
  font-size: 6rem;
  color: var(--clr);
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

#title-stroke {
  position: absolute;
  font-size: 6rem;
  color: var(--clr);
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px var(--clr);
  color: transparent;
  user-select: none;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#content {
  position: relative;
  /* z-index: 99; */
  background-color: var(--clr);
  padding: 50px;
}

#content h2 {
  font-size: 3rem;
  color: var(--low-white);
  margin: 0 20px;
}

#content p {
  font-size: 1.25rem;
  color: var(--low-white);
  margin: 20px;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .navigation {
    transform: scale(0.8);
  }

  .parallax h2 {
    transform: scale(0.6);
  }
}
